<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="./static/sdmllogo.png" size="54x54">
    <link rel="apple-touch-icon" href="./img/sdmllogo.gif">
    <meta name="theme-color" content="#ffffff">
    <title>Salon Digital</title>
    <link rel="stylesheet" href="./static/css/salon.css" type="text/css">
</head>
<body>
<div class="sdmlwrapper">
    <div class="top left">top.left</div>
    <div class="top center">top.center</div>
    <div class="top right">top.right</div>

    <div class="middle left">middle.left</div>
    <div class="labyrinth">labyrinth</div>
    <div class="content">content</div>
    <div class="middle right2">middle.right2</div>

    <div class="bottom left">bottom.left</div>
    <div class="bottom center">bottom.center</div>
    <div class="bottom right">bottom.right</div>
</div>
</body>
</html>
