<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
<HEAD>
    <TITLE>Salon Digital SDML</TITLE>
</HEAD>

<BODY
        BGCOLOR="#000000"
        TEXT="#000000"
        LINK="#0000FF"
        VLINK="#FF0000"
        ALINK="#00BB00"
        BACKGROUND="http://salon-digital.zkm.de/img/bg/startup.gif"
>

<TABLE BORDER="0" CELLPADDING="40" CELLSPACING="10" WIDTH="100%" HEIGHT="100%">
    <TR>
        <TD ALIGN=CENTER VALIGN=MIDDLE>
            <FONT FACE="Courier" SIZE=4><B>
                    Willkommen zum Salon Digital SDML Projekt.<BR>
                    SDML ist ein 'work in progress' im ZKM Media Museum.<BR>
                    <BR>
                    SDML kreiert eine generische virtuelle Architektur,
                    wo K&uuml;nstler, Kunstwerke und das Publikum sich treffen.<BR>
                    <BR>
                    F&uuml;r SDML braucht man eine Identit&auml;t, also mu&szlig; man sich anmelden.
                    Ihre Identit&auml;t wird verwendet, um zwischen den verschiedenen M&ouml;glichkeiten umzuschalten,
                    zum Beispiel um auf einen Chat-Kanal zu einem bestimmten Knoten zu gehen.<BR>
                    <BR>
                    Einfach spielen - und <A HREF="mailto:salon@www1.zkm.de">sagen Sie uns</A>, was Sie davon halten!<BR>
                    <BR>
                    <A HREF="http://salon-digital.zkm.de/sdml/home.html">Weiter</A><BR>
                    <BR><BR><BR>
                    Welcome to the Salon Digital SDML Project.<BR>
                    SDML is a work in progress at the ZKM Media Museum.<BR>
                    <BR>
                    SDML creates a generic virtual architecture, where artists, artworks and audience meet.<BR>
                    <BR>
                    To use SDML you need an identity, so you have to log in. Your identity is used to switch
                    between the different modes, for example to go on a chat-channel at a specific node.<BR>
                    <BR>
                    Just play and <A HREF="mailto:salon@www1.zkm.de">let us know</A> what you think!<BR>
                    <BR>
                    <A HREF="http://salon-digital.zkm.de/sdml/home.html">Continue</A><BR>
                </B></FONT><BR>

        </TD>
    </TR>
</TABLE>

</BODY>

</HTML>
